@use "../variables" as *;
@use "../App" as *;

$transition-speed: 1s;

.slider {
  position: relative;
}

.slider__inside {
  overflow-x: hidden;
}

.slider__slides {
  display: flex;
  transition: $transition-speed transform ease-in-out;
}

.slider__slide {
  z-index: 2;
  display: flex;
  align-items: stretch;
  flex: 0 0 auto;

  // children
  > * {
    flex: 1;
    z-index: 3;
  }

  .slider-animate {
    opacity: 0;
    transform: translateX(10%);
    transition: .5s all ease-in-out;
  }
}

.slider__slide--active .slider-animate {
  transform: translateX(0%);
  transition-delay: $transition-speed;
  opacity: 1;
}

.slider__pagination {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 5%;
}

.slider__pagination-item {
  // clickable area (with padding to make sure it is easy to click)
  background: transparent;
  padding: 10px;
  transition: .2s background-color;
  cursor: pointer;

  // dot
  span {
    $size: 10px;
    width: $size;
    height: $size;
    border-radius: $size;
    border: 2px solid $g-color-gray2;
    display: block;
  }

  &--active span,
  &:hover span {
    background: $g-color-gray2;
  }
}

.slider__arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  justify-content: space-between;
  z-index: 2;
  width: calc(100% + 10%);
  pointer-events: none;
  display: flex;

  @media all and (min-width: $g-mobile) {
    width: calc(100% + 10%);
  }

  // display none in mobile
  &--inside {
    display: none;

    @media all and (min-width: $g-mobile) {
      display: flex;
      width: 90%;
    }
  }

}

.slider__arrow {
  @extend %arrow;

  &--hidden {
    opacity: 0;
    pointer-events: none;
  }

}