@use "variables" as *;

@import "Mixins";
@import "Global/Container";
@import "Global/Form";
@import "Global/Headline";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

* {
  box-sizing: border-box;
}

.app__content--modal-open {
  filter: blur(1px);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 6;
  }
}
