@use "../variables" as *;

.footer {
  background: $g-color-gray2;
  padding: 20px 0;
  margin-top: 70px;
  z-index: 6; // higher than scroll to top
  position: relative;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__socials {
  display: flex;
  color: inherit;
  text-decoration: none;

  a {
    margin-right: 10px;
    opacity: 0.7;
    transition: .2s opacity;

    &:hover {
      opacity: 1;
    }
  }
}